<!DOCTYPE html>
<html>
<head>
  <title>SpyGlass</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<meta http-equiv="refresh" content="30" />
</head>
<body>

	<div id="container">

		<header>
			<h1>SpyGlass</h1>
			<p>
			  <%=link_to "Product Search", searches_path %>
        <%=link_to "Image Grab", new_image_path %>
			</p>
		</header>

	  <section>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
			<%= yield %>
		</section>
	
		<footer>
			<small>
				&copy; <%=Time.now.year()%> SpyGlass
			</small>
		</footer>
	</div>

	<script type="text/javascript">

	  // var _gaq = _gaq || [];
	  // _gaq.push(['_setAccount', 'UA-393335-41']);
	  // _gaq.push(['_trackPageview']);
	  // 
	  // (function() {
	  //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  // })();

	</script>
	
</body>
</html>
